@model Lab3REDO.Models.PatientDoctor
@{
    ViewBag.Title = "InsertNewPatient";
}

<h2>Inserting a new patient for the doctor: @Model.Doctor.Name</h2>

@using (Html.BeginForm("InsertPatientDoctor", "Doctors", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(model => model.PatientId, new SelectList(Model.Patients, "Id", "Name"), new {@class = "form-control"})
        @Html.HiddenFor(z => z.DoctorId)
    </div>

    <div class="form-group">
        <button type="submit">Add patient to doctor</button>
    </div>
}